$text-color: #E4E5EA;
$footer_text_color: #656566;

.wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container{
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  padding: 0;
}
a{
  color:$text-color;
  text-decoration: none;
}
body{
  margin: 0;
  background-color: #0f1016;
  color: $text-color
}
h1, h2, h3, h4, h5, h6 {
  margin:0;
}
p{
  margin: 0;
}

//-------Шары-------------------------
.first_ball{
  width: auto;
  position: absolute;
  top: 0;
  left: 62%;
}
.second_ball{
  width: 60px;
  height: 259px;
  position: absolute;
  top: 0;
  left: 40%;
}
.third_ball{
  width: auto;
  position: absolute;
  top: 58%;
  left: 60%;
}
.fourth_ball{
  width: auto;
  position: absolute;
  left: 40%;
  top: 8%
}
.fifth_ball{
  width: 311px;
  position: absolute;
  top: 5%;
  left: 23%;
}


//-------Шары-------------------------
@media screen and (max-width: 767px){
  .container{
    width: 90%;
    margin: 0 auto;
  }

  //-------Шары-------------------------
  .first_ball{
    width: auto;
    position: absolute;
    top: 40%;
    left: 76%;
  }
  .second_ball{
    width: 60px;
    height: 259px;
    position: absolute;
    top: 0;
    left: 40%;
  }
  .third_ball{
    width: auto;
    position: absolute;
    top: 58%;
    left: 60%;
  }
  .fourth_ball{
    width: auto;
    position: absolute;
    left: 6%;
    top: 65%
  }
  .fifth_ball{
    width: 311px;
    position: absolute;
    top: 5%;
    left: 23%;
  }
  //-------Шары-------------------------
}


