$text-color: #E4E5EA;

.container{
  max-width: 1140px;
  height: 73px;
  width: 100%;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  padding: 0;
}
a{
  color:$text-color;
  text-decoration: none;
}
body{
  margin: 0;
  background-color: #0f1016;
  color: $text-color
}
h1, h2, h3, h4, h5, h6 {
  margin:0;
}
p{
  margin: 0;
}

