@import "index";
@import "fonts";


.navbar_wrapper{
  height: 73px;
  //display: flex;
  //align-items: center;
  //justify-content: center;
  display: grid;
  grid-template-columns: 20% 40% 30% 10%;
  align-items: center;
}
.logo{
  margin: 0;
  padding-top: 47px;
  //padding: 47px 52px 0 0 ;
  figcaption{
    width: 100%;
    max-width: 165px;
    height: 24px;
    top: 45px;
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: $text-color;
    margin-top: 10px;
    @include Montserrat_light
  }
}
nav {
  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
    @include Inter_light;
    margin-right: 30px;
    color: $text-color;
  }

  li:last-child {
    margin-right: 0;
  }
}
.navbar_mobile{
  margin-left: 155px;
  //margin: 0 47px 0 137px;
  a{
    @include Inter_light;
  }
}
.icons{
  width: 100%;
  display: flex;
  justify-content: space-between;
  //.link_icon{
  //  margin-left: 30px;
  //}
}