@import "index";
@import "fonts";

.navbar{
  position: relative;
}
.navbar_wrapper{
  height: 73px;
  display: grid;
  grid-template-columns: 20% 45% 25% 10%;
  align-items: center;
}
.logo{
  margin: 0;
  padding-top: 47px;
  figcaption{
    width: 100%;
    max-width: 165px;
    height: 24px;
    top: 45px;
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: $text-color;
    margin-top: 10px;
    @include Montserrat_light
  }
}
nav {
  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  li {
    @include Inter_light;
    //margin-right: 30px;
    color: $text-color;
  }

  li:last-child {
    margin-right: 0;
  }
}
.navbar_mobile{
  margin-left: 100px;
  //margin-left: 155px;
  a{
    @include Inter_light;
  }
}
.icons{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

//-----Адаптив для мобильных устройств ---------------------

@media screen and (max-width: 767px) {
  .navbar_wrapper{
    display: flex;
  }
  .logo{
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    li{
      display: none;
      margin: 20px;
    }
    li:nth-child(1),
    li:nth-child(2),
    li:nth-child(3),
    li:nth-child(4) {
      display: inline-block;
      margin: 0;
    }
  }
  .navbar_mobile{
    display: none;
  }
  .icons{
    display: none;
  }
}