.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #E4E5EA;
  text-decoration: none;
}

body {
  margin: 0;
  background-color: #0f1016;
  color: #E4E5EA;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

.first_ball {
  width: auto;
  position: absolute;
  top: 0;
  left: 62%;
}

.second_ball {
  width: 60px;
  height: 259px;
  position: absolute;
  top: 0;
  left: 40%;
}

.third_ball {
  width: auto;
  position: absolute;
  top: 58%;
  left: 60%;
}

.fourth_ball {
  width: auto;
  position: absolute;
  left: 40%;
  top: 8%;
}

.fifth_ball {
  width: 311px;
  position: absolute;
  top: 5%;
  left: 23%;
}

@media screen and (max-width: 767px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .first_ball {
    width: auto;
    position: absolute;
    top: 40%;
    left: 76%;
  }
  .second_ball {
    width: 60px;
    height: 259px;
    position: absolute;
    top: 0;
    left: 40%;
  }
  .third_ball {
    width: auto;
    position: absolute;
    top: 58%;
    left: 60%;
  }
  .fourth_ball {
    width: auto;
    position: absolute;
    left: 6%;
    top: 65%;
  }
  .fifth_ball {
    width: 311px;
    position: absolute;
    top: 5%;
    left: 23%;
  }
}
@font-face {
  font-family: "Inter_light";
  src: url("../fonts/Inter/static/Inter-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter_regular";
  src: url("../fonts/Inter/static/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter_medium";
  src: url("../fonts/Inter/static/Inter-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter_bold";
  src: url("../fonts/Inter/static/Inter-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter_black";
  src: url("../fonts/Inter/static/Inter-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat_light";
  src: url("../fonts/Montserrat/static/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.navbar {
  position: relative;
}

.navbar_wrapper {
  height: 73px;
  display: grid;
  grid-template-columns: 20% 45% 25% 10%;
  align-items: center;
}

.logo {
  margin: 0;
  padding-top: 47px;
}
.logo figcaption {
  width: 100%;
  max-width: 165px;
  height: 24px;
  top: 45px;
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #E4E5EA;
  margin-top: 10px;
  font-family: "Montserrat_light", sans-serif;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
nav li {
  font-family: "Inter_light", sans-serif;
  color: #E4E5EA;
}
nav li:last-child {
  margin-right: 0;
}

.navbar_mobile {
  margin-left: 100px;
}
.navbar_mobile a {
  font-family: "Inter_light", sans-serif;
}

.icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .navbar_wrapper {
    display: flex;
  }
  .logo {
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  nav li {
    display: none;
    margin: 20px;
  }
  nav li:nth-child(1),
  nav li:nth-child(2),
  nav li:nth-child(3),
  nav li:nth-child(4) {
    display: inline-block;
    margin: 0;
  }
  .navbar_mobile {
    display: none;
  }
  .icons {
    display: none;
  }
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #E4E5EA;
  text-decoration: none;
}

body {
  margin: 0;
  background-color: #0f1016;
  color: #E4E5EA;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

.first_ball {
  width: auto;
  position: absolute;
  top: 0;
  left: 62%;
}

.second_ball {
  width: 60px;
  height: 259px;
  position: absolute;
  top: 0;
  left: 40%;
}

.third_ball {
  width: auto;
  position: absolute;
  top: 58%;
  left: 60%;
}

.fourth_ball {
  width: auto;
  position: absolute;
  left: 40%;
  top: 8%;
}

.fifth_ball {
  width: 311px;
  position: absolute;
  top: 5%;
  left: 23%;
}

@media screen and (max-width: 767px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .first_ball {
    width: auto;
    position: absolute;
    top: 40%;
    left: 76%;
  }
  .second_ball {
    width: 60px;
    height: 259px;
    position: absolute;
    top: 0;
    left: 40%;
  }
  .third_ball {
    width: auto;
    position: absolute;
    top: 58%;
    left: 60%;
  }
  .fourth_ball {
    width: auto;
    position: absolute;
    left: 6%;
    top: 65%;
  }
  .fifth_ball {
    width: 311px;
    position: absolute;
    top: 5%;
    left: 23%;
  }
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #E4E5EA;
  text-decoration: none;
}

body {
  margin: 0;
  background-color: #0f1016;
  color: #E4E5EA;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

.first_ball {
  width: auto;
  position: absolute;
  top: 0;
  left: 62%;
}

.second_ball {
  width: 60px;
  height: 259px;
  position: absolute;
  top: 0;
  left: 40%;
}

.third_ball {
  width: auto;
  position: absolute;
  top: 58%;
  left: 60%;
}

.fourth_ball {
  width: auto;
  position: absolute;
  left: 40%;
  top: 8%;
}

.fifth_ball {
  width: 311px;
  position: absolute;
  top: 5%;
  left: 23%;
}

@media screen and (max-width: 767px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .first_ball {
    width: auto;
    position: absolute;
    top: 40%;
    left: 76%;
  }
  .second_ball {
    width: 60px;
    height: 259px;
    position: absolute;
    top: 0;
    left: 40%;
  }
  .third_ball {
    width: auto;
    position: absolute;
    top: 58%;
    left: 60%;
  }
  .fourth_ball {
    width: auto;
    position: absolute;
    left: 6%;
    top: 65%;
  }
  .fifth_ball {
    width: 311px;
    position: absolute;
    top: 5%;
    left: 23%;
  }
}
@font-face {
  font-family: "Inter_light";
  src: url("../fonts/Inter/static/Inter-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter_regular";
  src: url("../fonts/Inter/static/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter_medium";
  src: url("../fonts/Inter/static/Inter-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter_bold";
  src: url("../fonts/Inter/static/Inter-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter_black";
  src: url("../fonts/Inter/static/Inter-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat_light";
  src: url("../fonts/Montserrat/static/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
section {
  position: relative;
}

.main_content {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  flex: 1 1 auto;
}

.left_block {
  max-width: 362px;
}
.left_block h1, .left_block h2, .left_block h3 {
  font-size: 48px;
  line-height: 58px;
  text-align: left;
}
.left_block h1 {
  font-family: "Inter_regular", sans-serif;
  font-weight: 400;
}
.left_block h2 {
  font-family: "Inter_black", sans-serif;
  background: linear-gradient(92deg, rgb(252, 176, 69), rgb(255, 63, 120));
  -webkit-background-clip: text;
  color: transparent;
}
.left_block div {
  width: 275px;
}
.left_block h3 {
  font-family: "Montserrat_light", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  padding-top: 30px;
}

.right_block {
  width: 330px;
}
.right_block h1, .right_block h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-align: right;
}
.right_block h1 {
  font-family: "Inter_bold", sans-serif;
  margin-bottom: 30px;
  letter-spacing: 0.05em;
  text-align: right;
}
.right_block h1 span {
  font-weight: 700;
  background: linear-gradient(90deg, rgb(252, 176, 69), rgb(241, 85, 57));
  -webkit-background-clip: text;
  color: transparent;
}
.right_block h2 {
  font-family: "Inter_medium", sans-serif;
  font-weight: 500;
  line-height: 22px;
}

.gifts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.gifts img {
  display: none;
}
.gifts div {
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: end;
}
.gifts div p {
  font-family: "Montserrat_light", sans-serif;
  text-align: right;
  margin-top: 6px;
}

.btn_block {
  display: flex;
  justify-content: end;
  margin-top: 60px;
}
.btn_block .btn {
  font-family: "Inter_light", sans-serif;
  width: 262px;
  height: 61px;
  background: rgb(64, 119, 243);
  border: none;
  color: #E4E5EA;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .main_content {
    display: block;
    margin-top: 60px;
  }
  .left_block {
    margin: 0 auto;
  }
  .left_block h1 {
    text-align: left;
    font-size: 36px;
  }
  .right_block {
    margin-top: 45px;
    width: 100%;
  }
  .right_block h1 {
    text-align: left;
  }
  .gifts .gifts_list {
    display: flex;
    align-items: center;
  }
  .gifts img {
    padding-right: 8px;
    display: block;
  }
  .gifts h2 {
    font-family: "Montserrat_light", sans-serif;
  }
  .gifts p {
    display: none;
  }
  .btn_block {
    display: none;
  }
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #E4E5EA;
  text-decoration: none;
}

body {
  margin: 0;
  background-color: #0f1016;
  color: #E4E5EA;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

.first_ball {
  width: auto;
  position: absolute;
  top: 0;
  left: 62%;
}

.second_ball {
  width: 60px;
  height: 259px;
  position: absolute;
  top: 0;
  left: 40%;
}

.third_ball {
  width: auto;
  position: absolute;
  top: 58%;
  left: 60%;
}

.fourth_ball {
  width: auto;
  position: absolute;
  left: 40%;
  top: 8%;
}

.fifth_ball {
  width: 311px;
  position: absolute;
  top: 5%;
  left: 23%;
}

@media screen and (max-width: 767px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .first_ball {
    width: auto;
    position: absolute;
    top: 40%;
    left: 76%;
  }
  .second_ball {
    width: 60px;
    height: 259px;
    position: absolute;
    top: 0;
    left: 40%;
  }
  .third_ball {
    width: auto;
    position: absolute;
    top: 58%;
    left: 60%;
  }
  .fourth_ball {
    width: auto;
    position: absolute;
    left: 6%;
    top: 65%;
  }
  .fifth_ball {
    width: 311px;
    position: absolute;
    top: 5%;
    left: 23%;
  }
}
@font-face {
  font-family: "Inter_light";
  src: url("../fonts/Inter/static/Inter-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter_regular";
  src: url("../fonts/Inter/static/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter_medium";
  src: url("../fonts/Inter/static/Inter-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter_bold";
  src: url("../fonts/Inter/static/Inter-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter_black";
  src: url("../fonts/Inter/static/Inter-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat_light";
  src: url("../fonts/Montserrat/static/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
footer {
  margin-top: auto;
  padding-top: 120px;
}
footer h3 {
  font-family: "Inter_bold", sans-serif;
  color: #656566;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.94px;
}
footer li {
  font-family: "Inter_regular", sans-serif;
  margin-bottom: 10px;
  font-weight: 400;
}

.footer_content {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.menu_block {
  display: flex;
  justify-content: flex-start;
}

.left_menu_block {
  margin-right: 50px;
}

.right_part {
  text-align: right;
}
.right_part li {
  margin-top: 20px;
}
.right_part p {
  font-family: "Montserrat_light", sans-serif;
  margin: 70px 0 30px 0;
  font-size: 12px;
}
.right_part p a {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .footer_content {
    display: block;
    width: 100%;
  }
  .footer_content li {
    margin-top: 10px;
    font-size: 14px;
  }
  .footer_content h3 {
    font-size: 12px;
  }
  .footer_content img {
    width: 24px;
    margin-right: 10px;
  }
  .right_part {
    text-align: left;
  }
  .right_part li:nth-child(1) {
    font-size: 16px;
  }
  p {
    margin: 50px 0 80px 0;
  }
}

/*# sourceMappingURL=welbex.css.map */
