.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #E4E5EA;
  text-decoration: none;
}

body {
  margin: 0;
  background-color: #0f1016;
  color: #E4E5EA;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

.navbar_wrapper {
  height: 73px;
  display: grid;
  grid-template-columns: 20% 40% 25% 15%;
  align-items: center;
}

.logo {
  margin: 0;
  padding-top: 47px;
}
.logo figcaption {
  width: 100%;
  max-width: 165px;
  height: 24px;
  top: 45px;
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #E4E5EA;
  margin-top: 10px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}
nav li {
  margin-right: 30px;
  color: #E4E5EA;
}
nav li:last-child {
  margin-right: 0;
}

.navbar_mobile {
  margin-left: 125px;
}

.icons {
  width: 80px;
  display: flex;
  justify-content: space-between;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #E4E5EA;
  text-decoration: none;
}

body {
  margin: 0;
  background-color: #0f1016;
  color: #E4E5EA;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #E4E5EA;
  text-decoration: none;
}

body {
  margin: 0;
  background-color: #0f1016;
  color: #E4E5EA;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

.main_content {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  flex: 1 1 auto;
}

.left_block {
  width: 362px;
}
.left_block h1, .left_block h2, .left_block h3 {
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
}
.left_block h1 {
  font-weight: 400;
}
.left_block h2 {
  font-weight: 900;
  background: linear-gradient(92deg, rgb(252, 176, 69), rgb(255, 63, 120));
  -webkit-background-clip: text;
  color: transparent;
}
.left_block div {
  width: 275px;
}
.left_block h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.right_block {
  width: 330px;
}
.right_block h1, .right_block h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-align: right;
}
.right_block h1 {
  margin-bottom: 30px;
  letter-spacing: 0.05em;
  text-align: right;
}
.right_block h1 span {
  font-weight: 700;
  background: linear-gradient(90deg, rgb(252, 176, 69), rgb(241, 85, 57));
  -webkit-background-clip: text;
  color: transparent;
}
.right_block h2 {
  font-weight: 500;
  line-height: 22px;
}

.gifts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.gifts div {
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: end;
}
.gifts div p {
  text-align: right;
  margin-top: 6px;
}

.btn_block {
  display: flex;
  justify-content: end;
  margin-top: 60px;
}

.btn {
  width: 262px;
  height: 61px;
  background: rgb(64, 119, 243);
  border: none;
  color: #E4E5EA;
  font-size: 16px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #E4E5EA;
  text-decoration: none;
}

body {
  margin: 0;
  background-color: #0f1016;
  color: #E4E5EA;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

footer {
  margin-top: auto;
  padding-top: 120px;
}
footer h3 {
  color: #656566;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.94px;
}
footer li {
  margin-bottom: 10px;
  font-weight: 400;
}

.footer_content {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.menu_block {
  display: flex;
  justify-content: flex-start;
}

.left_menu_block {
  margin-right: 50px;
}

.right_part {
  text-align: right;
}
.right_part li {
  margin-top: 20px;
}
.right_part p {
  margin-top: 70px;
  font-size: 12px;
}

/*# sourceMappingURL=welbex.css.map */
